---
import Button from '../components/Button.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home | ACME">
  <Header />

	<main class="mt-16 xl:mt-24 px-8 md:px-12 xl:px-28 flex gap-16 flex-col xl:flex-row-reverse xl:items-center">
    <img class="mx-auto xl:w-full" src="/undraw.svg" alt="Hero image">

    <div class="flex flex-col gap-8 items-center xl:items-start text-center xl:text-left">
      <h1 class="text-4xl capitalize xl:text-5xl font-bold">anything you may, delivered to you <span class="text-cyan-600 dark:cyan-400">today</span>!</h1>
      <p class="md:text-xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas eaque aperiam assumenda labore voluptates voluptatibus?</p>

      <Button>Contact Us</Button>
    </div>
  </main>
</Layout>
